.dvc/config
*.pyc
data/**
!data/**/*.dvc
!data/**/.gitignore
dag.mmd
.dvc/config
adr_results/
notebooks/reports/
notebooks/reports*
ARCX-20260222-FLN6G65U95.zip:Zone.Identifier
XNAS-20260222-9Y7BVLF349.zip:Zone.Identifier
